*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    
    transition-duration: .3s;
    transition-property: none;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    max-width: 100%;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    color: #333;
    overflow-x: hidden;
    line-height: 1.5;
}

header {
    background-color: #ff3539;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 500px;
}

.logo {
    width: 700px;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p a {
    color: #ff3539;
}

p a:hover {
    border-bottom: solid 1px #ff3539;
}

section {
    position: relative;
    padding: 50px 100px;
    width: calc(100% - 70px);
}

section.wide {
    padding: 0;
}

section[data-bg] {
    color: #fff;
    background-color: #000;
}

section[data-bg] > *:not(.section-bg-image) {
    position: relative;
    z-index: 1;
}

.section-bg-image {
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    padding: 30px 0;
}

p {
    margin: 20px auto;
    max-width: 700px;
}

p:first-child {
    margin-top: 0;
}

p:last-child {
    margin-bottom: 0;
}

aside {
    position: absolute;
    top: 500px;
    right: 0;
    background-color: #fff;
    width: 70px;
    height: 100%;
    overflow-x: hidden;
    z-index: 2;
}

aside.float {
    position: fixed;
    top: 0;
}

nav a {
    display: block;
    padding-right: 70px;
    color: transparent;
    background-size: 40px;
    height: 70px;
    overflow: hidden;
    
    transition-property: box-shadow;
}

nav a:hover {
    box-shadow: inset 5px 0 rgba(0, 0, 0, .2);
}

nav a.current {
    box-shadow: inset 5px 0 #ff7073;
    background-color: rgba(0, 0, 0, .05);
}

input, textarea, button {
    display: block;
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    
    transition-property: background, color;
}

textarea {
    resize: vertical;
    height: 200px;
}

button {
    cursor: pointer;
}

input, textarea {
    width: 100%;
}

input:focus, textarea:focus, button:focus {
    background-color: #fff;
    color: #333;
    outline: none;
}

button:hover {
    background: #ff3539;
    color: #fff;
}

.banner-links-container {
    display: flex;
    padding: 5px;
    width: calc(100% - 70px);
}

section.wide .banner-links-container {
    width: 100%;
}

.banner-link {
    width: calc(50% - 10px);
    background-color: #ddd;
    color: #555;
    padding: 20px 50px;
    font-size: 2em;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 5px;
    position: relative;
    font-weight: 300;
    
    transition-property: background, color;
}

.banner-link:hover {
    background-color: #ff3539;
    color: #fff;
}

.banner-link:after {
    content: "";
    background-image: url(/assets/img/ui/chev-right.svg);
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 22px;
    right: 0;
    top: 0;
    
    transition-property: transform;
}

.banner-link:hover:after {
    transform: translateX(10px);
}

.banner-link.twitter:hover {
    background-color: #55acee;
}

.banner-link.facebook:hover {
    background-color: #3B5998;
}

.flex-container {
    display: flex;
    align-items: flex-start;
}

.flex-container > * {
    flex-shrink: 0;
    width: calc(50% - 25px);
}

.flex-container > *:first-child {
    margin-right: 25px;
}

.flex-container > *:last-child {
    margin-left: 25px;
}


.flex-container > img {
    padding: 50px;
    padding-top: 0;
}

.members-container {
    margin-top: 50px;
    text-align: center;
}

.members-container li {
    display: inline-block;
    width: 400px;
    vertical-align: top;
    margin: 0 30px 30px 0;
    text-align: left;
}

.member-name, .member-role {
    line-height: 1;
}

.member-name {
    font-size: 1.5em;
    margin: 25px 0 10px 0;
}

.member-role {
    color: rgba(0, 0, 0, .6);
    font-weight: 400;
    font-size: 1.2em;
    font-style: italic;
}

.member-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.member-bio {
    margin-top: 20px;
    clear: both;
    font-size: 0.9em;
}

a.button {
    display: block;
    
    transition-property: background, color;
}

a.button.big {
    background-color: #83c4ff;
    color: #fff;
    text-align: center;
    padding: 30px;
    padding-top: 170px;
    font-size: 1.5em;
    font-weight: 300;
    
    background-size: 150px;
    background-position: 50% 20px;
    background-image: url(/assets/img/ui/download.svg);
}

a.button.big:hover {
    background-color: #5cb1ff;
}

.news-container {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.news-container li {
    background-color: #fff;
    display: block;
    width: 350px;
    margin: 5px 0;
    text-align: left;
}

.news-container p {
    padding: 20px;
    margin: 0;
}

.news-container img {
    display: block;
}