doctype html
html
    head
        meta(charset="utf-8")
        title SC Racers
        meta(name="description", content="An F1 In Schools team from Hong Kong built on friendship, trust, speed and creativity.")
        meta(property="og:title", content="SC Racers")
        meta(property="og:site_name", content="SC Racers")
        meta(property="og:url", content="http://sc-racers.co.nf/")
        meta(property="og:description", content="An F1 In Schools team from Hong Kong built on friendship, trust, speed and creativity.")
        meta(property="og:image", content="/assets/img/logo/logo_200.png")
        meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1")
        link(rel="stylesheet", href="style.css")
        link(href="//fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700", rel="stylesheet", type="text/css")
    body
        header
            object.logo(type="image/svg+xml", data="/assets/img/logo/logo-text-white.svg")
        aside
            object.nav-logo(type="image/svg+xml", data="/assets/img/logo/logo-icon-red.svg")
            nav
                a(data-scroll="", data-icon="people", href="#team") Who are we?
                a(data-scroll="", data-icon="quilt", href="#news") News
                a(data-scroll="", data-icon="info", href="#f1is") About F1 In Schools
                a(data-scroll="", data-icon="work", href="#support-us") Support us
                a(data-scroll="", data-icon="email", href="#contact") Contact us
        .banner-links-container
            a.banner-link(data-scroll="", href="#f1is") What is F1 In Schools?
            a.banner-link(data-scroll="", href="#support-us") Sponsorship
        
        section#team.no-bottom-padding
            h2 Who are we?
            p.
                We are SC Racers, a team of year 12 students from Sha Tin College (ESF) in Hong Kong. We have participated in the F1 in Schools World Finals 2014 in Abu Dhabi and will participate in the National Finals in Hong Kong in April.
            ul.members-container.nobullet
                li
                    img.member-photo
                    h3.member-name Alex Harfitt
                    .member-role Team manager
                    p.member-bio.
                        I have always loved the idea of engineering and recently I have dreamed of placing that skill into motor sports. I work closely with all team members equally to ensure all tasks are carried out to full innovation. I am always available to help with any task required on our team.
                li
                    img.member-photo
                    h3.member-name Manfung Yeung
                    .member-role Car engineer
                    p.member-bio.
                        I have always been interested in engineering and racing cars. My family has a history in the area of engineering and this influenced me into taking the same path. I also watch many races, mainly F1 and I saw this competition as an option to chase my ambitions.
                li
                    img.member-photo
                    h3.member-name Joyce Ho
                    .member-role PR manager
                    p.member-bio.
                        As the PR manager of the team, I organize and effectuate all of our communications with the public, including potential sponsors. I'm also responsible for our social media strategy. I think I am well-suited to the role of PR manager due to my adept social skills and keen marketing sense. This role allows me to practice and improve these skills.
                li
                    img.member-photo
                    h3.member-name Zack Guard
                    .member-role Media director
                    p.member-bio.
                        As the media director, I'm responsible for managing all of SC Racers' internet communications, including social media and our website. I work with Eddy, our graphic designer, to design and build the team's brand and with Katrina, our PR manager, to communicate with sponsors and our other stakeholders.
                li
                    img.member-photo
                    h3.member-name Eddy Park
                    .member-role Graphic designer
                    p.member-bio.
                        I have always been interested in graphic design, from identifying fonts on road signs to creating innovative icons. I am fluent at using software such as Adobe Illustrator to create appealing and minimal graphics for the team in order to build a reputation of modernness and professionalism.
                li
                    img.member-photo
                    h3.member-name Larry Poon
                    .member-role Resource manager
                    p.member-bio.
                        I am Larry, the SC Racers Resource Manager. I joined the team to further my skills in resource management and to aid the team in finding and getting any resources needed. I like to work with others and feel I am smart with a natural intuition for engineering.
            .initialism-container
                div
                    .initialism-letter S
                    span is for
                    .initialism-word
                        div speed
                        div spirit
                        div science
                        div innovation
                        div style
                        div simplicity
        
        section#news.wide.no-bottom-padding
            h2 News
            ol.news-container
            .banner-links-container
                a.banner-link.twitter(href="https://twitter.com/SC_Racers", target="_blank") Follow us on Twitter
                a.banner-link.facebook(href="https://www.facebook.com/SCRacers", target="_blank") Like us on Facebook
        
        section#f1is(data-bg="/assets/img/wf-2014-blurred.jpg")
            h2 F1 in Schools
            .flex-container
                img(src="/assets/img/f1-in-schools-white.png")
                div
                    p.
                        F1 in Schools is an international competition set out to provide an amazing but very challenging educational experience through the magnetic appeal of Formula One. The competition is the only global multi-disciplinary challenge for students aged 9-19 and is now recognised as the world's largest STEM (Science, Technology, Engineering and Mathematics) competition.
                    p.
                        Students work in teams of between 3 and 6, each taking on an assigned role that fulfils the necessary components of the competition.
                    p
                        | Learn more at the 
                        a(href="http://www.f1inschools.com/", target="_blank") F1 in Schools website
                        | .
        
        section#support-us
            // h2 Our sponsors
            //p.
            //    We are proud to be working with these great companies and organizations and we are very grateful for their support.
            //.sponsors-container
            h2 Support us
            .flex-container
                div
                    p.
                        We are going to compete in the F1 in Schools National Finals in Hong Kong, and we need to raise funds in order to compete and succeed.
                    p.
                        The competition will involve (among other things) acquiring resources and equipment that we need to achieve our goal.
                    p Some of the things that need to be funded:
                    ul
                        li car resources and materials
                        li team display
                        li uniform
                    p.
                        We would be very grateful if you would consider sponsoring us, six students from Hong Kong, and help us to succeed in our quest for success in F1 in Schools.
                a.button.big(href="/assets/docs/Sponsorship%20letter.pdf", target="_blank") View sponsorship letter
        
        section#contact(data-bg="/assets/img/racetrack-blurred.jpg")
            h2 Contact us
            .flex-container
                div
                    p Please don't hesitate to email us about any questions or suggestions that you have.
                    p We would love to hear from you!
                form(method="get", action="mailto:sc.racers.f1@gmail.com")
                    input(type="text", name="subject", placeholder="Subject")
                    textarea(name="body", placeholder="Message", required="")
                    button(title="This will open your default email client.") Send
        
        .banner-links-container
            a.banner-link.email.hasicon.contact_email {email}
            a.banner-link.whatsapp.hasicon.contact_whatsapp {phone}
            a.banner-link.twitter.hasicon(href="https://twitter.com/SC_Racers", target="_blank") @SC_Racers
            a.banner-link.facebook.hasicon(href="https://www.facebook.com/SCRacers", target="_blank") fb.com/SCRacers
        footer
            .footer-logo
            p
                | This entire website hand-made by 
                span.cursor-help(title="by that, we mean Zack made it") SC Racers themselves
                | .
            p
                -
                    var credits = [{
                        link: "https://www.google.com/fonts/specimen/Titillium+Web",
                        text: "Titillium Web font by Accademia di Belle Arti di Urbino"
                    }, {
                        link: "http://masonry.desandro.com",
                        text: "Masonry by desandro"
                    }, {
                        link: "https://github.com/twitter/twitter-text",
                        text: "Twitter Text Library by Twitter"
                    }, {
                        link: "https://github.com/cferdinandi/smooth-scroll",
                        text: "Smooth Scroll by cferdinandi"
                    }, {
                        link: "https://google.github.io/material-design-icons",
                        text: "Material Design icons by Google"
                    }]
                each credit, i in credits
                    - var endingChar = ","
                    - if (i === credits.length - 1) endingChar = "."
                    a(href=credit.link, target="_blank")= credit.text
                    span #{endingChar + " "}
            p
                | In the spirit of openness, the 
                a(href="https://github.com/z-------------/sc-racers-v3/", target="_blank") code
                |  is all on GitHub.
            p
                a(href="https://www.google.com/analytics/", target="_blank") Google Analytics
                |  is enabled on this website.
        script(src="/assets/js/twitter-text.min.js")
        script(src="/assets/js/masonry.pkgd.min.js")
        script(src="script.js")
        script(src="/assets/js/smooth-scroll.min.js", async="", onload="smoothScroll.init(smoothScrollOptions);")
        script(src="tracking.js")
