// colors
$color-white: #ffffff;
$color-offwhite: #f1f1f1;
$color-lightgrey: #dddddd;
$color-grey: #555555;
$color-darkgrey: #333333;
$color-black: #000000;

$color-red: #ff3539;

// fonts
$font-sans: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "Arimo", sans-serif;
$font-serif: "Noto Serif", "Source Serif Pro", "Georgia", "Cambria", "Times New Roman", serif;
$font-mono: "Droid Mono", "Source Code Pro", "Consolas", "Courier New", "Courier", monospace;

$font-titillium: "Titillium Web", $font-sans;
